extends layout

block content
	p.intro Welcome to Dungeon Crawler
	div.initializeForm
		label Please enter a name for your world
		input
	div.initializeForm
		label please enter a name for your character
		input
	div.initializeForm
		button.submit.createButton Create World
