extends layout

block content
	p.intro Welcome to Dungeon Crawler
	form.initializeForm
		label(for="worldName") Please enter a name for your world
		input#worldName(type="text" name="worldName")
		input.createButton(type="submit" value="Create World")
	form.initializeForm2
		label(for="playerName") Please enter a name for your character
		input#playerName(type="text" name="playerName")
		input.createButton(type="submit" value="Create Player")

	button.takeDmg Take Damage
	button.restoreHealth Restore Health
