doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Dungeon Crawler
		link(rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css")
		link(href="css/main.css" rel="stylesheet" type="text/css")
	body
		block content
		
		script(id="character-info" type="text/x-handlebars-template")
			h3 {{playerName}}
			p Level: {{level}}
			p Health: {{health}}
			p Inventory
				ul
					for item in inventory
						li item


		script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js")
		script(src="/scripts/main.js")