doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Dungeon Crawler
		link(rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css")
		link(href="css/main.css" rel="stylesheet" type="text/css")
		link(rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon")
	body
		block content
		
		script(id="character-info" type="text/x-handlebars-template")
			.characterInfo
				h3 {{player.name}}
				p Level: {{player.lvl}}
				p Health: {{player.health}}
				p Inventory: 
					//- ul
					//- 	for item in {{player.inventory}}
					//- 		li item
					//- Will likely need to register a helper function in handlebars in order to handle looping through the inventory array


		script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js")
		script(src="/scripts/main.js")